<!-- Footer Section Start -->
<footer class="footer-section bg-title fix">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    © All Copyright 2025</a>
                </p>
                <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                    <li>
                        <a class="text-white" href="../admin/">
                            Trang quản trị
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>